# .gitignore for Google Apps Script projects using https://www.npmjs.com/package/google-apps-script
.gas/*
gas-include/*
node_modules
dist

# for running scripts from the command line
creds.json
.clasprc.json

# Ignore test data
/test-data
/Stake -*
